* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

/*
font-family: 'Happy Monkey', cursive;
font-family: 'Cabin', sans-serif;
*/

.desktopnav {
	display: none;
}

/*****this is controlling hamburger menu *****/

.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:5px 15px 0px 15px;
  color:#ffffff;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background:none;
  position:absolute;
  top:0px;
  right:0;
  padding:7px 15px 0px 15px;
  color:#ffffff;
  border:0;
  font-size:3em;
  line-height:75px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.menu{z-index:1000000; font-weight:bold; font-size:0.8em; width:100%; background:#00B31E;  position:absolute; text-align:center; font-size:12px;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block;   padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu li:hover{display: block;    background:#0D4D00; padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#ffffff;}
.menu ul li a:hover {  color: #ffffff; text-decoration:none;}
.menu a{text-decoration:none; color:#ffffff;}
.menu a:hover{text-decoration:none; color:#ffffff;}

/*hamburger menu ends */



/* ***** SPLASH PAGE **** */


#button1 {
  font-family: 'Happy Monkey', cursive;
  color: #ffffff;
  background-color: #000000;
  border: 3px solid #ffffff;
  font-size: 1.5625rem;
  padding: 20px 35px;
	float: right;
	margin: 10% 30%;
}

#button1:hover {
	font-size: 2rem;
}

/*END SPLASH PAGE */


h1, h2 {
	  font-family: 'Happy Monkey', cursive;
		color: #ffffff;
		font-size: 2.25rem;
		letter-spacing: 3px;
}

#smallerfont {
	font-size: 1.8125rem;
}

h3 {
		font-family: 'Happy Monkey', cursive;
		font-size: 1.25rem;
		padding-bottom: 2%;
}

h4 {
	font-family: 'Cabin', sans-serif;
	font-size: 1.125rem;
	padding-bottom: 4%;
}

section {
	padding-bottom: 1%;
}


a:link, a:visited {
	color: #ffffff;
	text-decoration: none;
}

a:hover, a:active {
	text-decoration: underline;
}

.bold {
	font-weight: bold;
}

p {
	font-family: 'Cabin', sans-serif;
	padding-bottom: 2%;
}

.blackblock {
	color: #ffffff;
	background-color: #000000;
	border: 3px solid #ffffff;
	padding: 2% 3%;
	max-width: 500px;
	display: block;
	margin: auto;
	-moz-box-shadow: 1px 2px 3px 6px #000000;
	-webkit-box-shadow: 1px 2px 3px 6px #000000;
	box-shadow: 1px 2px 3px 6px #000000;
}

.titles {
	text-align: center;
	padding: 1% 0;
}

.titles {
  letter-spacing: 0;
  transition: all .75s ease-out;
}

.titles.spaced {
  letter-spacing: 7px;
}

#smallfont {
	font-size: 0.625rem;
}

#background {
	background: rgba(0, 0, 0, .6);
	padding: 3%;
}

.last {
	font-size: 0.75rem;
	padding-top: 3%;
}

.image-grid {
	display: flex;
	flex-wrap: wrap;
}

.image-grid figure {
	width: 50%;
}

.image-grid img {
	max-width: 100%;
}

.image-grid figure img {
	width: 100%;
	height: 100%;
	max-height: 265px;
}

footer {
	background-color: #000000;
	color: #ffffff;
	text-align: center;
	border-top: 3px solid #ffffff;
	margin-top: 2%;
	padding: 2%;
}

.factfont {
	font-size: 0.75rem;
}

#leopardright {
	width: 100%;
	max-width: 550px;
	display: block;
	margin: auto;
	padding-top: 5%;
}

ol {
	padding-left: 2%;
}

ol li {
	font-family: 'Cabin', sans-serif;
	padding-bottom: 1%;
	font-size: 0.9375rem;
}

ol li:hover {
	font-size: 1.125rem;
}

ol li p {
	font-size: 0.8125rem;
}

aside figure img{
	height: 100%;
	max-height: 500px;
	margin: auto;
	display: block;
}

#jaguar, #leopardlooking {
	padding: 2%;
}

.footerimg {
	width: 100%;
	max-width: 65px;
	display: block;
	margin: auto;
	padding-bottom: 1%;
}

figcaption {
	color: #ffffff;
	text-align: center;
	font-family: 'Cabin', sans-serif;
}


@media (min-width: 863px) {
	.menu, .hamburger, .cross {
	display: none;
}

/* CSS ANIMATION NAV */

div.borderYtoX a:before, div.borderYtoX a:after
{
    position: absolute;
    opacity: 0.5;
    height: 100%;
    width: 2px;
    content: '';
    background: #FFF;
    transition: all 0.3s;
}

div.borderYtoX a:before
{
    left: 0px;
    top: 0px;
}

div.borderYtoX a:after
{
    right: 0px;
    bottom: 0px;
}

div.borderYtoX a:hover:before, div.borderYtoX a:hover:after
{
    opacity: 1;
    height: 2px;
		width: 100%;
}

/* END ANIMATION NAVIGATION */

	#button1 {
	 margin: 42% 15% 0 0;
	 overflow-y: hidden;
	}


	.desktopnav {
	display: inline;
	width: 80%;
  }


	.desktopnav a {
		z-index: 0;
		position: relative;
		padding: 10px;
}

header #flexnav figure {
	width: 20%;
}

#flexnav {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}

.desktopnav ul li {
	display: inline;
	list-style-type: none;
	text-align: right;
	font-family: 'Cabin', sans-serif;
	font-size: 1.125rem;
	padding: 15px;
}

.desktopnav a:link, .desktopnav a:visited {
	color: #ffffff;
}

.desktopnav a:hover, .desktopnav a:active {
	color: #92CA6A;
	text-decoration: underline;
}

.desktopnav ul {
		text-align: right;
		width: 100%;
}

.footerimg:hover {
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}


.image-grid {
	position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.image-grid figure {
	padding-bottom: 1%;
}

.flexlayout {
	display: flex;
	flex-flow: row-reverse nowrap;
	align-items: flex-start;
}

.flexlayout2 {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: baseline;
}

main {
	flex-grow: 3;
	flex-basis: 60%;
}

aside {
	flex-grow: 2;
	flex-basis: 38%;
	align-self: stretch;
	margin: 2% 0 0 1%;
}

#leopardright {
	align-self: center;
	padding-top: 0;
}

#background {
		margin-right: 1%;
}

#desktoplayout {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}

#order1 {
	order: 1;
	flex-grow: 1;
}

#order2 {
		order: 2;
		flex-grow: 3;
	}
#order3 {
	order: 3;
	flex-grow: 1;
}

#jaguar, #leopardlooking {
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
}

/* IMAGE GROW EFFECT */

/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* Grow Shadow */
.hvr-grow-shadow {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(255, 255, 255, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

figcaption {
	padding-top: 8%;
}

/* END IMAGE GROW EFFECT */

}


@media (min-width: 863px) and (max-width: 969px) {
	#leopardright {
		padding-top: 30%;
	}

	.blackblock {
		padding: 5%;
	}

	#button1 {
		margin: 60% 10% 0 0;
	}
}

@media (min-width: 970px) and (max-width: 1015px) {
	#leopardright {
		padding-top: 20%;
	}

	#button1 {
		margin: 55% 10% 0 0;
	}

}

@media (min-width: 1016px) and (max-width: 1400px) {
	#leopardright {
		padding-top: 13%;
	}

	#button1 {
		margin: 42% 10% 0 0;
	}
}

@media (min-width: 1401px) {
	#button1 {
		margin: 38% 10% 0 0;
	}
}
