* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

/*
font-family: 'Happy Monkey', cursive;
font-family: 'Cabin', sans-serif;
*/

/* ***** SPLASH PAGE **** */


#button1 {
  font-family: 'Happy Monkey', cursive;
  color: #ffffff;
  background-color: #000000;
  border: 3px solid #ffffff;
  font-size: 1.5625rem;
  padding: 15px 25px;
}

#splash {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: flex-end;

}
